@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
* {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

.remark-container {
  background-color: #beebfd; }

.remark-slide {
  max-width: 100%; }

.remark-slide-number {
  color: #FFE; }

.remark-slide-content {
  background-color: #59737d;
  color: #FFE;
  border: 0.2em solid #008fc7; }

.remark-slide-content ul {
  border-left: 0.05em solid #008fc7;
  list-style-position: outside;
  padding-left: 1em; }
  .remark-slide-content ul li {
    list-style-type: none; }

.remark-slide-content h1 {
  text-transform: uppercase;
  color: #FFE;
  display: inline-block;
  padding-bottom: .1em;
  border-bottom: 0.05em solid rgba(0, 145, 201, 0.75); }

.remark-slide-content h2 {
  text-transform: uppercase; }

.remark-slide-number {
  color: #FFE;
  font-size: 1.5em; }

.remark-code, .remark-inline-code {
  font-family: "Ubuntu Mono"; }
