// typography variables
// $body-font: 'Droid Serif';
// $heading-font: 'Yanone Kaffeesatz';
$body-font: 'Lato', sans-serif;
$heading-font: 'Roboto', sans-serif;
$code-font: 'Ubuntu Mono';

$dhfblue: #0091c9;
$offwhite: #FFE;
$highlightblue: #158DC1;
$accentblue: #2c5768;
$lightgray: #e3e9f0;

$deck-bg: $lightgray;
$slide-bg: $accentblue;
$slide-text: $offwhite;

$slide-accent: $dhfblue;
